<html>

<head>
	<title>Community Events Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{ time }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="col-sm-12">
	<form method="post" action="/events/new" enctype="multipart/form-data">
		<label for="event_name">Event Name</label><br>
		<input type="text" name="event_name" value=""><br>
		<label for="event_date">Event Date</label><br>
		<input type="date" name="event_date" value=""><br>
        <label for="event_desc">Event Description</label><br>
        <input type="text" name="event_desc" class="textbox" value=""><br>
        
        <label for="user_name">User Name</label><br>

		<input type="name" name="user_name" value=""><br>
		<input type="submit" value="Submit"><br>

      </form>
        </div>
    </div>
</body>

</html>