<html>

<head>
	<title>Community Events Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<link rel="stylesheet" href="static/css/style.css?q={{time}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<form action="/signup" method="post">
<label for ="name">Name</label>
<input type="text" name="username">
<label for="password">Password</label>
<input type="password" name="password">
<input type="submit" value="Signup">
</form>
</body>

</html>